* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://imborrable.com/wp-content/uploads/2021/04/fotos-gratis-de-stock-1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  font-family: 'Koulen', cursive;
  letter-spacing: .2px;

}
.contenedor {
  width: 40%;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 10px;
  margin: auto auto;
  margin-top: 10%;
  box-shadow: 0px 0px 30px 20px black;
  color: white;
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
}
.contenedor main{
  opacity: .8;
  transition:1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
  -webkit-transition:1s;
}
.contenedor main:hover{
  opacity: 1;
}
.contenedor h3 {
  text-align: center;
  margin: 10px 0px;
  font-size: 20px;
}
.contenedor p {
  text-align: justify;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  line-height: 16px;

}
.contenedor p span {
  color: skyblue;
  font-weight: bold;
  opacity: 1;
}
.contenedor footer {
  padding: 10px 20px;
}
.contenedor footer p {
  text-align: right;
  margin: 10px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
footer p a {
  color: hsl(220, 100%, 74%);
  text-align: right;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  font-size: 18px;
}
footer p:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
footer p a:hover {
  color: hsl(220, 100%, 58%);
}
