* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://imborrable.com/wp-content/uploads/2021/04/fotos-gratis-de-stock-1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  font-family: 'Koulen', cursive;
  text-anchor: middle;
  letter-spacing: .7px;
}
.contenedor {
  width: 29%;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 1%;
  margin: auto auto;
  margin-top: 4%;
  box-shadow: 0px 0px 30px 20px black;
}
.contenedor h2 {
  text-align: center;
  color: white;
  margin: 5px 0px;
}
.contenedor form{
  color: white;
}
.contenedor label {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
}
.contenedor input {
  width: 90%;
  margin: 1% 0% 1% 2%;
  padding: 7px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contenedor input[type="submit"] {
  color: white;
  background-color: hsl(220, 70%, 60%);
  width: 100%;
  margin: 2.5% 0;
  cursor: pointer;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  font-family: 'Koulen', cursive;
}
.contenedor input[type="submit"]:hover {
  background-color: hsl(220, 100%, 52%);
}
.contenedor input::placeholder{
  font-family: 'Koulen', cursive;
}
.contenedor fieldset  {
  border: 2px solid white;
  border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -ms-border-radius: 0px 20px 0px 20px;
  -o-border-radius: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-evenly;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.contenedor fieldset img{ transition:1s ; -webkit-transition:1s ; -moz-transition:1s ; -ms-transition:1s ; -o-transition:1s ;
}
.contenedor fieldset:hover{ border-radius: 20px 0px 20px 0px; -webkit-border-radius: 20px 0px 20px 0px; -moz-border-radius: 20px 0px 20px 0px; -ms-border-radius: 20px 0px 20px 0px; -o-border-radius: 20px 0px 20px 0px;
}
.contenedor fieldset:hover img{
  opacity:.5;
  transform:scale(.9);
  -webkit-transform:scale(.9);
  -moz-transform:scale(.9);
  -ms-transform:scale(.9);
  -o-transform:scale(.9);
}
.contenedor fieldset img:hover{ transform: scale(1.3) ; -webkit-transform: scale(1.3) ; -moz-transform: scale(1.3) ; -ms-transform: scale(1.3) ; -o-transform: scale(1.3) ;
opacity: 1;
}
.contenedor form legend{
  color: white;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.contenedor form fieldset:hover legend{
  color: hsl(220, 100%, 80%);
}
.contenedor a {
  color: white;
  text-decoration: none;
}
.contenedor footer{
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0px;
}
.contenedor p{ transition:1s ; -webkit-transition:1s ; -moz-transition:1s ; -ms-transition:1s ; -o-transition:1s ; }
.contenedor p a{ transition:1s ; -webkit-transition:1s ; -moz-transition:1s ; -ms-transition:1s ; -o-transition:1s ; }
.contenedor footer a:hover {
  color: hsl(220, 70%, 80%);
  text-decoration: underline;
}
.contenedor footer p:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}